html body{
  box-sizing: border-box;
  background: linear-gradient(to bottom, #001D6E, #0080FF);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

a{
text-decoration: none;
}
  


